:root 
{
    --primary-color: #3f51b5;
}


body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;

    margin: 0;
    padding: 0;
}

html
{
    font-size: 100%;
}

button:disabled
{
    opacity: .5;
}

/*TODO: Add spacing units*/
/*TODO: Add styles to Responsive navigation*/
main
{
    margin-top: 70px;
}

div[class^='flex'],
form[class^='flex']
{
    display: flex;
}

.flex-col-start
{
    flex-flow: column nowrap;
    justify-content: start;
    align-items: flex-start;
}

.flex-row-space-between
{
    min-width: 90vw;

    justify-content: space-between;
    align-items: center;
}

.flex-row-start
{
    flex-flow: row nowrap;
    justify-content: start;
    align-items: flex-start;
}


form > button.cta
{
    color: white;
    background-color: #3f51b5;
}

form > button.cta:hover
{
    color: white;
    background-color: #606fc7;
}

.goal-single
{
    padding-left: 24px;
}

.nested-list > li
{
    padding-left: calc(24px * 2);
}
